* {
  margin: 0;
  border: 0;
}

body {
  background-color: #121212;
}

#Bio {
text-align: center;
margin-top: 10px;
background-color: rgb(44, 44, 44);
}

#header h1 {
  background-color: #121212;
  padding: 3%;
  margin-top: 10px;
  text-align: center;
}

.info {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
  
}


#perfil {
  border-radius: 20%;
}

.bio {
  max-width: 40%;
}

#rs {
  display: inline-block;
  
}

.icone {
  width: 35px;
  padding-top: 5px;
  padding-left: 10px ;
}

h1 {
  color: #12B84D;
  font-family: monospace;
}

.texto {
  color: #88DBA6;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.inform {
  font-style: italic;
}

#mid1 {
  margin-top: 30px;
 
}

#qualidades {
  display: inline-block;
  margin-left: 15%;
}

#soft-skill-img {
  display: inline-block;
  padding-left: 5%;
  
}

#hard-skill-img {
  display: inline-block;
  padding-left: 15%;
  margin-bottom: 5%;
}

#competencias {
  display: inline-block;
  font-size: x-large;
  padding: 50px;
  vertical-align: bottom;
}

.link {
  color: #085C26;
  text-decoration: none;
}

.topicos {
  color: #489B66;
}

.criatividade {
  font-size: 20px;
}

.multi-tarefa {
  font-size: 25px;
}

.dedic {
  font-size: 28px;
}

.estudante-trybe {
  font-size: 23px;
}

.paciencia {
  font-size: 30px;
}

#video {
  font-size: 17px;
}

.criatividade:hover, .dedic:hover, .paciencia:hover {
  background-color: #1b1b1b;
  color: white;
}

#footer {
  margin-top: 5%;
  background-color: #1b1b1b;
  text-align: center;
  padding-top: 5%;
}

#indice {
  display: inline-block;
}