<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>

<body>
    <header id="header">
        <nav></nav>
        <section>
            <div>
                <img src="/Utils/perfil_ligth_green.jpeg" alt="perfil_photo", width="180px">
                <h1>Guilherme Borges</h1>
            </div>
            <div>
                <p></p>
            </div>
        </section>
    </header>
</body>
</html>